# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: (CNAME|formats.json)
  - id: check-xml
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/czlee/pre-commit-hooks
  rev: v0.0.1
  hooks:
  - id: check-file-name-pattern
    files: v1/formats/.+
    exclude: v1/formats.json
    args:
    - --pattern
    - "[a-z0-9\\-]+.xml"

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-import-order
    - flake8-quotes
    - pep8-naming
    - flake8-commas
