# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Validate XML files

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install lxml
      run: |
        python -m pip install --upgrade pip
        pip install lxml
    - name: Validate files against schema
      run: |
        python validate.py
    - name: Update formats.json
      run: |
        python update_list.py --add-errors
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Regenerated formats.json
        file_pattern: formats.json
